body {
  margin: 0;
  text-align: center;
  background: rgb(255, 255, 255);
}

nav {
  background: linear-gradient(90deg, rgb(34, 179, 123), rgb(101, 146, 231));
  padding: 10px;
}

a {
  padding-inline: 10%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: fantasy;
}

a:hover {
  background-color: rgba(10, 16, 70, 0.4);
  padding: 10px;
  padding-inline: 10%;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(104, 105, 150);
  margin-inline: 150px;
}

.item-container {
  position: relative;
  height: 20px;
  width: 160px;
  padding: 10px;
  padding-bottom: 50px;
  background-color: rgb(120, 150, 233);
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.item-container-mod {
  margin: 10px;
  position: relative;
  height: 20px;
  width: 160px;
  padding: 10px;
  background-color: rgb(120, 150, 233);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.item-list {
  display: inline-block;
  text-align: left;
  padding: 10px;
  margin-inline: 280px;
  margin-top: 40px;
}

#fin {
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 30px;
  display: inline-block;
  color: rgb(255, 255, 255);
  border-radius: 2px;
}

#score {
  font-size: 10px;
  position: absolute;
  top: -60px;
  left: 45px;
  display: inline-block;
  padding: 10px;
  background-color: #b2b9c5;
  color: rgb(255, 255, 255);
  border-radius: 2px;
}

#en {
  position: relative;
  left: 80px;
  width: 70px;
  height: 13px;
}

#en-mod {
  width: 90px;
  height: 6px;
}

#fi-mod {
  width: 90px;
  height: 6px;
}

#submit-mod {
  margin-inline: 5px;
  font-size: 11px;
  height: 21px;
  width: 90px;
  background-color: #23b9a0;
  color: white;
}
::placeholder {
  color: rgba(73, 93, 129, 0.603);
}

#submit {
  position: absolute;
  background-color: #60b845;
  color: rgb(255, 255, 255);
  bottom: 10px;
  left: 43px;
  height: 25px;
}

#submit:hover,
#submit-mod:hover {
  background-color: #69ca5c;
}

#nextBtn:hover {
  background-color: rgb(69, 165, 248);
}

#buttons {
  bottom: 0;
  right: 0;
}

#nextBtn {
  position: absolute;
  left: 40%;
  top: 70%;
  background-color: rgb(57, 78, 196);
}

#taskBtn {
  padding: 0px;
  border: none;
  float: right;
  margin: 4px;
  background-color: transparent;
  color: aliceblue;
}

.item-list-mod {
  top: 100px;
  left: 38%;
  position: absolute;
  margin-top: 30px;
}
